/* цвета интерактивных элементов и отсутствие outline*/
.interactive:hover { color: var(--color-hover); }
.interactive:active { color: var(--color-active); }
.interactive:focus-visible { 
  outline: none;
  color: var(--color-hover);
}

/*обводка при фокусе*/
.interactive--ring-10 {
  border: 1.5px solid transparent;
  border-radius: 10px;
}

.interactive--ring-8 {
  border: 1.5px solid transparent;
  border-radius: 8px;
}
.interactive--ring-8:focus-visible,
.interactive--ring-10:focus-visible {
  border-color: var(--color-active);
}