.header {
  width: 100%;
  min-height: 135px;
  max-width: 1440px;
  padding: 5px 20px 5px 7px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__logo {
  font-family: var(--font-heading);
  font-weight: 600;
  font-size: 86px;
  line-height: 103px;
  display: inline-block;
  padding: 5px 13px;
  margin-right: auto;
  border-style: solid;
  border-width: 1.5px;
  border-radius: 10px;
  border-color: transparent;
}

.header__logo:hover {
  text-decoration: underline;
  text-decoration-style: solid;
  text-underline-offset: 3px;
  text-decoration-thickness: 2px;
}

.header__logo:active {
  color: var(--color-active);
}

.header__logo:focus-visible {
  outline: none;
  color: var(--color-hover);
  border-color: var(--color-active);
}

.header__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 0;
  column-gap: 29px;
}

.header__link {
  display: block;
  padding: 11px 13px;
  border-style: solid;
  border-width: 1.5px;
  border-radius: 10px;
  border-color: transparent;
}

.header__link:hover {
  text-decoration: underline;
  text-decoration-style: solid;
  text-underline-offset: 2.5px;
  text-decoration-thickness: 1.5px;
}

.header__link:active {
  color: var(--color-active);
}

.header__link:focus-visible {
  outline: none;
  color: var(--color-hover);
  border-color: var(--color-active);
}

.header__btn {
  width: 50px;
  height: 50px;
}
